*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: "SmileySans-Obliqu";
    src: url(../fonts/SmileySans-Oblique.ttf) format(truetype);
}
body{
    font-family: "SmileySans-Obliqu";
}
.wrapper{
    background-image:url(../images/background_image03.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.wrapper::after{
    background-repeat: no-repeat;
    content: "";
    width:105%;
    height:105%;
    left:0;
    top:0;
    background: inherit;
    filter: contrast(70%);
    z-index: 1;
    position: fixed;
}
.content{
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
}
.box01{
    width: 380px;
    padding-top: 5px;
    margin-left: 150px;
    margin-top: 150px;
    position: fixed;
    z-index:3;
    float: left;
}
.box01_top{
    width: 152px;
    height: 152px;
    border-radius: 50%;
    border:#fff 2px solid;
    background-image: url(../images/head_portrai.jpg);
    background-size: 100%;
    text-align: center;
    margin:0 auto;
    transition: all .5s;
    margin-top: 5px;
    margin-bottom: 5px;
}
.box01_top:hover{
    transform: rotate(360deg);
}
.box01_middle{
   text-align: center;
   height: 90px;
}
.box01_middle>p{
    text-shadow: 1px 1px 1px #413964;
    color: #101010;
    font-weight: bolder;
    font-size:38px;
    text-align: 30px;
    text-overflow: ellipsis;
    line-height: 45px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.icon{
    display: flex;
    width: 300px;
    height: auto;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}
.card{
    width: 50px;
    flex: 1;
    text-align: center;
}
.icon-X{
    transition: all .2s;
    filter: grayscale(90%) blur(1px);
}
.icon-X:hover{
    transform: scale(1.1);
    filter: grayscale(0) blur(0);
}
.icon-bilibili{
    transition: all .2s;
    filter: grayscale(90%) blur(0.5px);
}
.icon-bilibili:hover{
    transform: scale(1.1);
    filter: grayscale(0) blur(0.5px);
}
.icon-music163{
    transition: all .2s;
    filter: grayscale(90%) blur(0.5px);
}
.icon-music163:hover{
    transform: scale(1.1);
    filter: grayscale(0) blur(0);
}
a{
    list-style: none;
    text-decoration: none;
    color: #000;
}
.box01_footer{
    display: none;
    letter-spacing: 5px;
    text-shadow: 1px 1px 1px #413964;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: #000;
    transition: all .3s;
    z-index: 4;
}
a:link{
    list-style: none;
    text-decoration: none;
}
.box01_footer:hover{
    transform: scale(1.02);
    background-color: #31313125;
}
.box01_footer>.left{
    text-align: left;
    font-weight: bolder;
    font-size: 40px;
}
.box01_footer>.right{
    text-align: right;
    font-weight: bolder;
    font-size: 40px;
}
.box02{
    width: 380px;
    z-index: 3;
    position: relative;
    float: right;
    margin-right: 10%;

}
.box02_pic>img{
    width: 100%;
    display: block;
}
.box02_text{
    width: 380px;
    height: auto;
    font-size: 30PX;
    text-align: center;
}
@media only screen and (max-width:1000px) {
    .box01{
        transform: scale(0.8);
        float: none;
        margin: auto;
        position: relative;
    }
    .box02{
        transform: scale(0.8);
        float: none;
        margin: auto;
    }
}
